<% if @api_data && @api_data.any? %>
  <%  
    predefined_order = ["List", "of", "your", "locations"]
    
    grouped_data = @api_data.group_by { |item| item[:lokalizacja] }
    
    sorted_grouped_data = predefined_order.map do |lokalizacja|
      [lokalizacja, grouped_data[lokalizacja] || []]
    end
  %>
<div class = "index-body">
  <% sorted_grouped_data.each do |lokalizacja, items| %>
    <div class="lokalizacja-section">
      <h2><%= lokalizacja.presence || "Misspelled localization" %></h2>
      <div class="data-container">
        <% items.each do |item| %>
          <div class="data-item">
            <div class="data-item-header">
              <h3><%= item[:stanowisko] || "No position available" %></h3>
              <%= link_to 'Edit', edit_api_form_path(item[:id]), class: "edit-button" %>
            </div>
            <div class="data-item-body">
              <p><strong>Opis stanowiska:</strong>
                <div class="opis_stanowiska-container" onclick="showWymaganiaPopup('<%= j(item[:opis_stanowiska]) %>')">
                  <%= sanitize(item[:opis_stanowiska], tags: [], attributes: []).truncate(100) %>
                  <span class="read-more">[Kliknij, aby zobaczyć więcej]</span>
                </div>
              </p>
              <p><strong>Status:</strong> <%= item[:aktywne] ? "Aktywne" : "Niekatywny" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No data available.</p>
<% end %>
</div>
<script>

  function showWymaganiaPopup(wymaganiaContent) {
    document.getElementById("wymagania-popup-text").innerHTML = wymaganiaContent;
    document.getElementById("wymagania-popup").style.display = "flex";
  }

  function closeWymaganiaPopup() {
    document.getElementById("wymagania-popup").style.display = "none";
  }
</script>

<%= link_to 'Add New', new_api_form_path, class: "add-new-button" %>